/* header */

.main_header {
  font-weight: bold;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.817);
  width: 100vw;
  padding: 1rem;
  position: fixed;
  z-index: 100;
  border-bottom: 1px solid rgb(235, 235, 235);
  height: 10vh;
}

.img_send_button {
  width: 30px;
  cursor: pointer;
}
