.sidebar_wrap {
  height: 100vh;
  width: 18vw;
  border-right: 1px solid rgb(235, 235, 235);
}

.sidebar_header {
  font-weight: bold;
  font-size: 3rem;
  padding: 2rem 0 0 2rem;
}

.sidebar_icon {
  width: 30px;
  margin-right: 1rem;
}

.sidebar_ul {
  margin-top: 4rem;
  margin-left: 2rem;
}

.sidebar_ul li {
  margin-bottom: 3rem;
  cursor: pointer;
}
