:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 3rem;
}

img {
  display: block;
}

.container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
  border-bottom: 2px solid rgb(219, 219, 219);
}

.btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.btn:focus {
  outline: 0.5rem auto #4d90fe;
}



/* Profile Section */

.profile {
  padding: 3rem 0;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.p_image {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.p_image img {
  border-radius: 50%;
}

.p_user_settings,
.p_stats,
.p_bio {
  float: left;
  width: calc(66.666% - 2rem);
}

.p_user_settings {
  margin-top: 1.1rem;
}

.p_user_name {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 300;
}

.p_edit_btn {
  font-size: 1.4rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin-left: 2rem;
}

.p_settings_btn {
  font-size: 2rem;
  margin-left: 1rem;
}

.p_stats {
  margin-top: 2.3rem;
}

.p_stats li {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer;
}

.p_stats li:last-of-type {
  margin-right: 0;
}

.p_bio {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2.3rem;
}

.p_real_name,
.p_stat,
.p_edit_btn {
  font-weight: 600;
}

/* G Section */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 3rem;
  padding-bottom: 3rem;
}

.g_item {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
}

.g_item:hover .g_item_info,
.g_item:focus .g_item_info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.g_item_info {
  display: none;
}

.g_item_info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
}

.g_item_likes {
  margin-right: 2.2rem;
}

.g_item_comments {
  margin-right: 4rem;
}

.g_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media Query */

@media screen and (max-width: 40rem) {
  .profile {
      display: flex;
      flex-wrap: wrap;
      padding: 4rem 0;
  }

  .profile::after {
      display: none;
  }

  .p_image,
  .p_user_settings,
  .p_bio,
  .p_stats {
      float: none;
      width: auto;
  }

  .p_image img {
      width: 7.7rem;
  }

  .p_user_settings {
      flex-basis: calc(100% - 10.7rem);
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;
  }

  .p_user_name {
      font-size: 2.2rem;
  }

  .p_edit_btn {
      order: 1;
      padding: 0;
      text-align: center;
      margin-top: 1rem;
  }

  .p_edit_btn {
      margin-left: 0;
  }

  .p_bio {
      font-size: 1.4rem;
      margin-top: 1.5rem;
  }

  .p_edit_btn,
  .p_bio,
  .p_stats {
      flex-basis: 100%;
  }

  .p_stats {
      order: 1;
      margin-top: 1.5rem;
  }

  .p_stats ul {
      display: flex;
      text-align: center;
      padding: 1.2rem 0;
      border-top: 0.1rem solid #dadada;
      border-bottom: 0.1rem solid #dadada;
  }

  .p_stats li {
      font-size: 1.4rem;
      flex: 1;
      margin: 0;
  }

  .p_stat {
      display: block;
  }
}


@supports (display: grid) {
  .profile {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(3, auto);
      grid-column-gap: 5rem;
      /* align-items: center; */
  }

  .p_image {
      grid-row: 1 / -1;
  }

  .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
      grid-gap: 3rem;
  }

  .p_image,
  .p_user_settings,
  .p_stats,
  .p_bio,
  .g_item,
  .g {
      width: auto;
      margin: 0;
  }


  /* 반응형 */
  @media (max-width: 40rem) {
      .profile {
          grid-template-columns: auto 1fr;
          grid-row-gap: 1.5rem;
      }

      .p_image {
          grid-row: 1 / 2;
      }

      .p_user_settings {
          display: grid;
          grid-template-columns: auto 1fr;
          grid-gap: 1rem;
      }

      .p_edit_btn,
      .p_stats,
      .p_bio {
          grid-column: 1 / -1;
      }
  }
}
