/* header */

.main_header {
  font-weight: bold;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.817);
  width: 100vw;
  padding: 1rem;
  position: fixed;
  z-index: 100;
  border-bottom: 1px solid rgb(235, 235, 235);
  height: 10vh;
}

.main_img_alert {
  position: absolute;
  top: 200px;
  right: 1300px;
  font-weight: bold;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 20px;
  opacity: 0;
  transition: 1s;
}

/* main */
.main_wrap {
  margin-top: 5rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_input {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  height: 7vh;
  margin-top: 2rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding: 1rem;
  resize: none;
  overflow: hidden;
}

.main_input_img {
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
}

.main_input::placeholder {
  font-size: 1.2rem;
}

.main_bottom_box {
  border-top: 1px solid rgb(208, 208, 208);
  border-bottom: 1px solid rgb(208, 208, 208);
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  width: 49vw;
  justify-content: space-between;
}

.main_img_button {
  position: relative;
  bottom: 18px;
  width: 10vw;
  height: 6vh;
  cursor: pointer;
  z-index: 10;
  opacity: 1;
}
.main_send_button {
  all: unset;
  border: 3px solid black;
  padding: 0.8rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
}
.main_send_button:disabled {
  all: unset;
  border: 3px solid gray;
  color: gray;
  padding: 0.8rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.main_post_wrap {
  margin: 0 auto;
  width: 80%;
  line-break: auto;
}

.main_post_in_wrap {
  background-color: rgb(253, 253, 253);
  border: 1px solid rgb(194, 194, 194);
  border-radius: 10px;
  padding: 3rem;
  padding-bottom: 0;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 90%;
  line-break: auto;
}

.main_post_profile {
  display: flex;
}

.main_post_imgText {
  margin-left: 4rem;
}
.main_follow_button {
  all: unset;
  color: white;
  border: 1px solid rgb(94, 94, 255);
  background-color: rgb(94, 94, 255);
  padding: 0.3rem;
  border-radius: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1rem;
  cursor: pointer;
}

.main_post_img {
  margin-top: 2rem;
}

.main_post_heart_img {
  width: 30px;
  margin-left: 0.5rem;
  cursor: pointer;
}

.main_post_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  border-top: 1px solid rgb(194, 194, 194);
  border-radius: 100px;
  padding: 2rem;
}

.main_post_bottom_menu {
  font-size: 0.8rem;
}
.main_post_bottom_menu span {
  font-size: 0.8rem;
  margin-left: 1rem;
  cursor: pointer;
}

.main_post_heart_check {
  display: flex;
  align-items: center;
}
.main_post_heart_check span {
  margin-left: 1rem;
}
